mkdocs==1.6.1
mkdocs-autorefs==1.2.0
mkdocs-exclude==1.0.2
mkdocs-jupyter==0.24.7
mkdocs-material==9.5.44
mkdocs-material-extensions==1.3.1
mkdocs-macros-plugin==1.0.5
mkdocstrings-python==1.12.2
markdown-exec[ansi]
griffe-generics==1.0.13
pandas[output-formatting]==2.2.2
mplsoccer==1.3.0
