site_name: kloppy 1.5.1
site_url: https://kloppy.pysport.org
repo_url: https://github.com/PySport/kloppy
repo_name: 'GitHub'
edit_uri: blob/master/docs/
extra_css: [style.css]

# TODO: set-up Google Analytics project to track
google_analytics: null 

theme:
  name: material
  custom_dir: docs/overrides

nav:
  - Home: index.md
  - Quickstart Guides:
    - Event Data: quickstart/event_data.ipynb
    - Tracking Data: quickstart/tracking_data.ipynb
    - State: quickstart/state.ipynb
    - Examples: quickstart/examples.ipynb
  - API Reference:
    - Loaders: api/loading_data.md
    - Domain:
      - Common: api/domain/common.md
      - Pitch: api/domain/pitch.md
      - Tracking: api/domain/tracking.md
      - Event: api/domain/event.md
  - Providers: 'providers.md'
  - Issues: 'issues.md'
  - Contributing: 'contributing.md'
  - Sponsors: 'sponsors.md'
  - About: 'about.md'
  - Changelog: 'changelog.md'
  - License: 'license.md'

plugins:
  - mkdocs-jupyter:
      include_source: True
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: true
            show_root_heading: true
            heading_level: 4
      watch:
        - kloppy

markdown_extensions:
  - pymdownx.highlight:
      use_pygments: true
      linenums: true
      linenums_style: table
  - footnotes
