site_name: kloppy 3.1.1
site_url: https://kloppy.pysport.org
repo_url: https://github.com/PySport/kloppy
repo_name: 'GitHub'
edit_uri: blob/master/docs/
extra_css: [style.css]

# TODO: set-up Google Analytics project to track
google_analytics: null 

theme:
  name: material
  custom_dir: docs/overrides

nav:
  - Home: index.md
  - Getting-started:
      - Datafactory: getting-started/datafactory.ipynb
      - Metrica: getting-started/metrica.ipynb
      - Opta: getting-started/opta.ipynb
      - SecondSpectrum: getting-started/secondspectrum.ipynb
      - SkillCorner: getting-started/skillcorner.ipynb
      - Sportec: getting-started/sportec.ipynb
      - Sportscode: getting-started/sportscode.ipynb
      - Statsbomb: getting-started/statsbomb.ipynb
      - TRACAB: getting-started/tracab.ipynb
      - Wyscout: getting-started/wyscout.ipynb
  - Examples:
    - Event Data: examples/event_data.ipynb
    - Tracking Data: examples/tracking_data.ipynb
    - Broadcast Tracking Data: examples/broadcast_tracking_data.ipynb
    - Code data: examples/code_data.ipynb
    - State: examples/state.ipynb
    - Plotting2: examples/plotting.ipynb
  - API Reference:
    - Domain:
      - Common: api/domain/common.md
      - Pitch: api/domain/pitch.md
      - Tracking: api/domain/tracking.md
      - Event: api/domain/event.md
  - Providers: 'providers.md'
  - Other:
    - Issues: 'issues.md'
    - Contributing: 'contributing.md'
    - Sponsors: 'sponsors.md'
    - About: 'about.md'
    - Changelog: 'changelog.md'
    - License: 'license.md'

plugins:
  - mkdocs-jupyter:
      include_source: True
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: true
            show_root_heading: true
            heading_level: 3
      watch:
        - kloppy

markdown_extensions:
  - pymdownx.highlight:
      use_pygments: true
      linenums: true
      linenums_style: table
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - footnotes
